    .btn {
         border: none;
         color: red;
         padding: 14px 28px;
         font-size: 16px;
         cursor: pointer;
         
     }
 
     .success {
         background-color: #4CAF50;
         
     }
         /* Green */
         .success:hover {
             background-color: #46a049;
         }
 
     .info {
         background-color: #2196F3;
     }
         /* Blue */
         .info:hover {
             background: #0b7dda;
         }
 
     .warning {
         background-color: #ff9800;
     }
         /* Orange */
         .warning:hover {
             background: #e68a00;
         }
 
     .danger {
         background-color: #f44336;
     }
         /* Red */
         .danger:hover {
             background: #da190b;
         }
  
     .default {
         background-color: #d7cec7;
         color: black;
     }
         /* Gray */
         .default:hover {
             background: #ddd;
         }
 
  h1{
	 font-family: "Raleway", sans-serif;
	 animation-name:pulse; animation-duration:3s; animation-iteration-count:infinite;
	 }
 
     body,  h2, h4, h5 {
          font-family: "Raleway", sans-serif
     }
	 
	
	 
	 h3{
	
	 font-family: "Raleway", sans-serif
	 }
	  